.root, .scroll-pane, .button, .label {
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.root {
    -fx-background-color: #282a36;
}

.button {
    -fx-background-color: #282a36;
    -fx-text-fill: white;
    -fx-border-color: #50fa7b;
    -fx-border-radius: 5;
}

.GridPane {
    -fx-background-color: #282a35;
}